AequilibruimTechnicalAssignment/src/starSolutions/Node.java
AequilibruimTechnicalAssignment/src/starSolutions/NodePointer.java
AequilibruimTechnicalAssignment/src/starSolutions/SpecialNumberHelper.java
AequilibruimTechnicalAssignment/src/starSolutions/StringUtils.java
AequilibruimTechnicalAssignment/src/starSolutions/TwoStacks.java
